:root {
   --dark-brown: #191308;
   --light-brown: #322A26;
   --purple: #9CA3DB;
   --dark-blue: #353b48;
   --light-blue: #677DB7;
   --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
   content-visibility: auto;
   contain-intrinsic-size: 1px 5000px;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
   margin: 0 auto;
   min-height: 100vh;
   background-color: rgb(244, 240, 240);
   font-family: "Fira+Sans+Condensed", sans-serif;

   display: grid;
   grid-template-columns: 1fr repeat(5, 1fr);
   grid-template-rows: 1fr;
   column-gap: 20px;

}

/* Nav bar to the left */
.nav_bar {

   padding: 5px;
   background-color: var(--dark-blue);
   color: white;

   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;

   width: 100%;
}

.menu_components {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}

#dashboard {
   margin-top: 40px;
   font-size: 16px;
   font-weight: 400;
   padding: 10px;
   border-radius: 8px;
   text-decoration: none;
   color: white;
   width: 90%;
}

#dashboard:hover {
   background-color: #4d525e;
   text-decoration: none;
   color: white;
}

.profile {

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: flex-start;
   align-self: flex-start;
   padding: 10px;
   border-radius: 8px;

}

.content_pane {

  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap:30px;

   margin: 20px;
   grid-column-start: 2;
   grid-column-end: 7;
   grid-row-start: 1;
   grid-row-end: 2;
}
.outpass {


   color: var(--dark-blue);
   box-shadow: 2px 2px 4px gray;
   border-radius: 8px;

   width: 400px;
   height: 400px;

   display:grid;
   grid-template-columns: 1fr;
   grid-template-rows: 70px 150px 1fr;
   column-gap: 0px;
   row-gap: 0px;

}


.header {
   background-color: var(--dark-blue);
   color:white;
   display:flex;
   justify-content: space-between;
   padding: 10px;

   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;

   border-radius: 8px 8px 0px 0px;
   width: 98%;

}

.student_details {
   background-color: #e1e4eb;
   padding-left: 20px;
   padding-right: 20px;
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 2;
   grid-row-end: 3;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;

   border-top: 0.5px var(--dark-blue);
   border-bottom: 0.5px var(--dark-blue) solid;

   width: 93%;

}
.student_details p,.outpass_details p{
   margin-bottom: 0px;
   color: gray;
}

#branch {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;
}

#year {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 2;

   border-right: 0.5px black solid;
}
#hostel {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 2;
   grid-row-end: 3;
}
#room {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end: 3;

   border-right: 0.5px var(--dark-blue) solid;
}

#indate {
   grid-column-start: 3;
   grid-column-end: 5;
   grid-row-start: 1;
   grid-row-end: 2;
   padding-left: 10px;

}
#outdate {
   grid-column-start: 3;
   grid-column-end: 5;
   grid-row-start: 2;
   grid-row-end: 3;
   padding-left: 10px;
   
}

.outpass_details {
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 3;
   grid-row-end: 4;
   border-radius: 8px;
   padding: 10px;
   border-radius: 0px 0px 8px 8px;
   background-color: white;

   width: 98%;
}


.choice {
   background-color: rgb(244, 240, 240);
  
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   gap:20px;

   height: 100px;
   width: 100px;
}

.comment_form {
  
   height: 200px;
   width: 250px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   padding-top: 10px;
   padding-bottom: 10px;
}

.button {

   text-align: center;
   color: var(--dark-blue);
   background-color: white;
   box-shadow: 2px 2px 4px gray;
   color: #000000;
   padding: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   width: 70%;
}


#option_form {
   display: none;
   background-color: #eff1f9;
   border-radius: 3px;
   padding: 10px;
   width: 180px;
}

a {
   text-decoration: none;
   color: #000000;
}

.button:hover {
   cursor: pointer;
   background-color: #a8acb5;
   color:white;
}

h3 {
   font-weight: normal;
   font-size: 14px;
}

textarea {
   resize: none;
   border-radius: 5px;
   padding: 5px;
   width: 180px;
   height: 100px;
}

input[type=submit] {
   background-color: var(--light-blue);
   border: none;
   color: white;
   padding: 16px 32px;
   text-decoration: none;
   margin: 4px 2px;
   cursor: pointer;
}

input[type=submit]:hover {
   margin-top: 10px;
   cursor: pointer;
   padding: 25px;
   padding-top: 15px;
   padding-bottom: 15px;
}