:root {
   --dark-brown: #191308;
   --light-brown: #322A26;
   --purple: #9CA3DB;
   --dark-blue: #454B66;
   --light-blue: #677DB7;
}

html {
   content-visibility: auto;
   contain-intrinsic-size: 1px 5000px;
}

body {
   margin: 0 auto;
   background-color: #c7cadd;
   min-height: 100vh;
   background-image: url("images/bg.jpg");
   display: grid;
   grid-template-columns: 1fr repeat(5, 1fr);
   grid-template-rows: 1fr;
   column-gap: 20px;
   font-family: "Fira+Sans+Condensed", sans-serif;
}


.nav_bar {
   padding: 5px;
   background-color: rgba(69, 75, 102, 0.6);
   /*background-image: url("mngs.png");*/
   color: white;
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;

}

.nav_bar a {

   position: relative;
   float: left;
   text-decoration: none;
   color: white;
}

.content_pane {

   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 50px 1fr 100px;
   column-gap: 20px;
   row-gap: 20px;
   margin: 20px;
   grid-column-start: 2;
   grid-column-end: 7;
   grid-row-start: 1;
   grid-row-end: 2;
}

.outpass_details {
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end: 3;
   border-radius: 8px;
   background-color: white;
}

.student_details {

   border-radius: 8px;
   background-color: white;
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 2;
   grid-row-end: 4;
}

.choice {
   border-radius: 8px;
   background-color: white;
   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 3;
   grid-row-end: 4;
}
.section_header {
   background-color: white;
   padding: 10px;
   border-radius: 8px 8px 0px 0px;
}
.button {

   text-align: center;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   background-color: var(--light-blue);
   color: #fff;
   border-radius: 0.5rem;
}


table {
   background-color: #eff1f9;
   margin: 15px;
   font-size: 15px;
   border-radius: 8px;
}

td {
   padding-right:2rem;
   padding-left:2rem;
   width: 50%;
}

th {
   font-weight: 800;
}