:root {
    --dark-brown: #191308;
    --light-brown: #322A26;
    --purple: #9CA3DB;
    --dark-blue: rgb(69, 75, 102);
    --light-blue: #677DB7;
 }
 
 html {
    content-visibility: auto;
    contain-intrinsic-size: 1px 5000px;
 }
 
 body {
    margin: 0 auto;
    min-height: 100vh;
    background-color: rgb(244, 240, 240);
    font-family: "Fira+Sans+Condensed", sans-serif;
 
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr);
    grid-template-rows: 1fr;
    column-gap: 20px;
    
 }
 
 
 /* Nav bar to the left */
 .nav_bar {
 
    padding: 5px;
    background-color: var(--dark-blue);
    color: white;
    
 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
 
 }
 
 /* div for all body contents */
 .content_pane {
 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 150px repeat(2, 200px);
    column-gap: 20px;
    row-gap: 30px;
    margin: 20px;
 
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
 
 }

 .top_section {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
 
    display: grid;
    grid-template-columns: 200px 200px 1fr;
    grid-template-rows: 150px;
    column-gap: 40px;
 }
 
 .date_display{

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
 
    color: var(--dark-blue);
    background-color: white;
    box-shadow: 2px 2px 4px gray;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:15px;
 }
 
.pending_section {

    background-color: white;
    color: var(--dark-blue);
    box-shadow: 2px 2px 4px gray;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:15px;
}

.view_routes {
    background-color: white;
    color: var(--dark-blue);
    box-shadow: 2px 2px 4px gray;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:15px;
}
/* main body */

.request_outpass_section {

    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;

    background-color: white;
    color: var(--dark-blue);
    box-shadow: 2px 2px 4px gray;

    overflow: scroll;
}

.outpass_status_section {
    
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;

    background-color: white;
    color: var(--dark-blue);
    box-shadow: 2px 2px 4px gray;

    overflow: hidden;
}

.outpass_history {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;

    background-color: white;
    color: var(--dark-blue);
    box-shadow: 2px 2px 4px gray;

    overflow: hidden;
}

.request_form {

    margin: 20px;
    display: flex;
    background-color: #eff1f9;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;

}

fieldset {
    width: 100%;
}

button {
    background-color: var(--purple);
    height: 30px;
    border: none;
    border-radius: 8px;
    padding: 5px;
    color: white;
}

button:hover {
    background-color: var(--dark-blue);
    color: var(--light-blue);
    border: 1px var(--purple) solid;
    box-shadow: 2px 2px 2px var(--purple);
}

.form_div{
    margin-top:20px;
    margin-left: 10px;
    width: 95%;
}
.left_form_elt {
    margin: 0;
    float: left;
}
.right_form_elt {
    margin-left: 50%;
}

