:root {
    --dark-brown: #191308;
    --light-brown: #322A26;
    --purple: #9CA3DB;
    --dark-blue: rgb(53, 59, 72);
    --light-blue: #677DB7;
 }
 
 html {
    content-visibility: auto;
    contain-intrinsic-size: 1px 5000px;
 }
 
 body {
    margin: 0 auto;
    min-height: 100vh;
    background-color: rgb(161, 169, 184);
    font-family: "Fira+Sans+Condensed", sans-serif;
 
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr);
    grid-template-rows: 1fr;
    column-gap: 20px;
    
 }
 
 
 /* Nav bar to the left */
 .nav_bar {

    padding: 5px;
    background-color: var(--dark-blue);
    color: white;
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 
 }

.menu_components {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}
.menu_components a,button{
   margin-top: 40px;
   font-size: 16px;
   font-weight: 400;
   padding: 10px;
   border-radius: 8px;
   text-decoration: none;
   color:white;
   width: 100%;
   
}

.menu_components a:hover{
   background-color: #4d525e;
   text-decoration: none;
   color:white;
}

.profile {

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

   background-color: #4d525e;
   padding: 10px;
   border-radius: 8px;
   width: 100%;
   
}
 
 /* div for all body contents */
 .content_pane {
 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 50px 150px repeat(2, 260px);
    column-gap: 20px;
    row-gap: 30px;
    margin: 20px;
 
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
 
 }

 .top_section {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
 
    display: grid;
    grid-template-columns: 200px 200px 1fr;
    grid-template-rows: 150px;
    column-gap: 40px;
 }
 
 .date_display{

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
 
    color: var(--dark-blue);
    background-color: white;
    box-shadow: 2px 2px 4px gray;
 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:15px;
 }
 
.pending_section {

    background-color: white;
    color: var(--dark-blue);
    box-shadow: 2px 2px 4px gray;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:15px;
}

.view_routes {
    background-color: white;
    color: var(--dark-blue);
    box-shadow: 2px 2px 4px gray;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding:15px;
}
/* main body */

.request_outpass_section {

    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;

    background-color: white;
    color: var(--dark-blue);
    box-shadow: 2px 2px 4px gray;
}

.outpass_status_section {
    
    grid-row-start: 3;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;

    background-color: white;
    color: var(--dark-blue);
    box-shadow: 2px 2px 4px gray;
}

img {
   width: 180px;
   height: 180px;
}

.profile img {
   width: 40px;
   height: 40px;
}
.outpass_history {

    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 4;
    grid-column-end: 5;

    background-color: white;
    color: var(--dark-blue);
    box-shadow: 2px 2px 4px gray;

    overflow: hidden;
}

.request_form {

    margin: 20px;
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;

    background-color: #eff1f9;
    padding: 20px;
}

.request_form label       { text-align:right; }
.request_form label:after { content: ":"; }

#button {
    background-color: var(--dark-blue);
    border-radius: 8px;
    padding: 5px;
    color: white;
    border:none;
}

#button:hover {
    background-color: #4d525e;
    color: var(--light-blue);
    box-shadow: 2px 2px 2px gray;
}

.profile_content {
   background-color: #c9cce0;
   border-radius: 8px;
   padding: 10px;
   margin: 10px;

   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;

   column-gap: 10px;
}

.outpass_content {
  
   border-radius: 8px;
   padding: 10px;

   display:flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
}

.profile_content li {
   margin-top: 16px;
   font-size: 16px;
   font-weight: 300px;
}

.outpass_content li {
   margin-top: 10px;
   font-size: 16px;
   font-weight: 300px;
}

#qrcode {
   justify-self: flex-end;
}