:root {
   --dark-brown: #191308;
   --light-brown: #322A26;
   --purple: #9CA3DB;
   --dark-blue: #353b48;
   --light-blue: #677DB7;
}

 html {
    content-visibility: auto;
    contain-intrinsic-size: 1px 5000px;
 }
 
 body {
    margin: 0 auto;
    min-height: 100vh;
    background-color: rgb(244, 240, 240);
    font-family: "Fira+Sans+Condensed", sans-serif;
 
    display: grid;
    grid-template-columns: 1fr repeat(5, 1fr);
    grid-template-rows: 1fr;
    column-gap: 20px;
 
 }
 
 /* Nav bar to the left */
 .nav_bar {
 
    padding: 5px;
    background-color: var(--dark-blue);
    color: white;
 
 
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
 
 }
 
 /* div for all body contents */
 .content_pane {
 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    row-gap: 30px;
    margin: 20px;
 
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
 
 }

 .content_pane {

   display: grid;
   grid-template-columns: 1fr 200px;
   grid-template-rows: 1fr;
   column-gap: 20px;
   row-gap: 30px;
   margin: 20px;

   grid-column-start: 2;
   grid-column-end: 7;
   grid-row-start: 1;
   grid-row-end: 2;

}

 .scan_view {

   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;

   font-size: 14px;
 }

 td {
   font-size: 14px;
 }

 .nav_bar {

   padding: 5px;
   background-color: var(--dark-blue);
   color: white;
   
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;

}

.profile {

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   column-gap: 10px;

   background-color: #4d525e;
   padding: 10px;
   border-radius: 8px;
   width: 100%;
   
}

.menu_components {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}
.menu_components a,button{
   margin-top: 40px;
   font-size: 16px;
   font-weight: 400;
   padding: 10px;
   border-radius: 8px;
   text-decoration: none;
   color:white;
   width: 100%;
   
}

.menu_components a:hover{
   background-color: #4d525e;
   text-decoration: none;
   color:white;
}

.date_display{

   color: var(--dark-blue);
   background-color: white;
   box-shadow: 2px 2px 4px gray;

   grid-column-start: 2;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 2;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding:15px;
}