:root {
   --dark-brown: #191308;
   --light-brown: #322A26;
   --purple: #9CA3DB;
   --dark-blue: rgb(69, 75, 102);
   --light-blue: #677DB7;
}
html {
   content-visibility: auto;
   contain-intrinsic-size: 1px 5000px;
}
body {
   margin: 0 auto;
   background-color: #c7cadd;
   min-height: 100vh;
   background-image: url("../images/bg.jpg");
   display: grid;
   grid-template-columns: 1fr repeat(5, 1fr);
   grid-template-rows: 1fr;
   column-gap: 20px;
   font-family: "Fira+Sans+Condensed",sans-serif;
}


.nav_bar {
   padding: 5px;
   background-color: rgba(69, 75, 102,0.6);
   /*background-image: url("mngs.png");*/
   color: white;
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start;

}

.nav_bar a {

   position: relative;
   float: left;
   text-decoration: none;
   color: white;
}

.content_pane {

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 50px 220px 1fr 1.5fr;
   column-gap: 20px;
   row-gap: 20px;
   margin: 20px;
   grid-column-start: 2;
   grid-column-end: 7;
   grid-row-start: 1;
   grid-row-end: 2;

}

.calendar_div
{
   border-radius: 8px;
   color: #454B66;
   background-color: white;
   grid-row-start: 2;
   grid-row-end: 3;
   grid-column-start: 1;
   grid-column-end: 2;

   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 220px 1fr;
   row-gap: 20px;

}
.calendar {

   background-color: #fff;
   box-sizing: border-box;
   box-shadow: 0 5px 50px rgba(#000, 0.5);
   border-radius: 8px;
   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-start: 1;
   grid-column-end: 2;


}
.num_left{
  
   background-color: #fff;
   border-radius: 8px;
   grid-row-start: 2;
   grid-row-end: 3;
   grid-column-start: 1;
   grid-column-end: 2;
   text-align: center;

}
.calendar__date {
   padding: 15px;
   display: grid;
   grid-template-columns: repeat(7, minmax(25px, 1fr));
   grid-gap: 10px;
   box-sizing: border-box;
}


.calendar__day {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 20px;
   font-weight: 800;
   color: var(--dark-blue);

}

.calendar__number {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 20px;
   color: var(--light-blue);
}

.review_section {

   border-radius: 8px;
   color: #454B66;
   background-color: white;
   grid-row-start: 3;
   grid-row-end: 4;
   grid-column-start: 2;
   grid-column-end: 4;
}


.pending_section {

   border-radius: 8px;
   color: #454B66;
   background-color: white;
   grid-row-start: 4;
   grid-row-end: 5;
   grid-column-start: 1;
   grid-column-end: 4;
}

.emergency_section {

   border-radius: 8px;
   color: #454B66;
   background-color: white;
   grid-row-start: 2;
   grid-row-end: 3;
   grid-column-start: 2;
   grid-column-end: 4;
}

.section_header {
   background-color: white;
   padding: 10px;
   border-radius: 8px 8px 0px 0px;
}

.passes {

   color:var(--light-blue);
   border-radius:8px;
   text-align: left;
   border-spacing: 25px 5px;
   table-layout: fixed;
   width:95%;
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 20px;
}

table {
   background-color: #eff1f9;
}
td {
   padding: 5px;
}

th {
   font-weight: 800;
}


h3 {
   font-weight: 600;
}

table {
   font-size: 15px;
}
img:hover {
   background-color: rgba(0,0,0,0.2);
}
