:root {
   --dark-brown: #191308;
   --light-brown: #322A26;
   --purple: #9CA3DB;
   --dark-blue: #353b48;
   --light-blue: #677DB7;
}

html {
   content-visibility: auto;
   contain-intrinsic-size: 1px 5000px;
}

body {
   margin: 0 auto;
   min-height: 100vh;
   background-color: rgb(244, 240, 240);
   font-family: "Fira+Sans+Condensed", sans-serif;

   display: grid;
   grid-template-columns: 1fr repeat(5, 1fr);
   grid-template-rows: 1fr;
   column-gap: 20px;
   
}


/* Nav bar to the left */
.nav_bar {

   padding: 5px;
   background-color: var(--dark-blue);
   color: white;
   
   grid-column-start: 1;
   grid-column-end: 2;
   grid-row-start: 1;
   grid-row-end: 2;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;

}

.menu_components {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 100%;
}
.menu_components a,button{
   margin-top: 40px;
   font-size: 16px;
   font-weight: 400;
   padding: 10px;
   border-radius: 8px;
   text-decoration: none;
   color:white;
   width: 100%;
   
}

.menu_components a:hover{
   background-color: #4d525e;
   text-decoration: none;
   color:white;
}

.profile {

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

   background-color: #4d525e;
   padding: 10px;
   border-radius: 8px;
   width: 100%;
   
}

/* div for all body contents */
.content_pane {

   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 50px 150px repeat(2, 200px);
   column-gap: 20px;
   row-gap: 30px;
   margin: 20px;

   grid-column-start: 2;
   grid-column-end: 7;
   grid-row-start: 1;
   grid-row-end: 2;

}

/* displays pending outpasses */
.count {
   padding: 10px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
}

/* all passes */
.all_passes {
   color: var(--dark-blue);
   background-color: white;
   box-shadow: 2px 2px 4px gray;

   grid-row-start: 3;
   grid-row-end: 5;
   grid-column-start: 1;
   grid-column-end: 4;
}

.top_section {
   grid-row-start: 2;
   grid-row-end: 3;
   grid-column-start: 1;
   grid-column-end: 5;

   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 150px;
   column-gap: 40px;
}

.emergency_count {
   color: var(--dark-blue);
   background-color: white;
   box-shadow: 2px 2px 4px gray;

   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-start: 1;
   grid-column-end: 2;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.review_count {
   color: var(--dark-blue);
   background-color: white;
   box-shadow: 2px 2px 4px gray;

   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-start: 3;
   grid-column-end: 4;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.normal_count {
   color: var(--dark-blue);
   background-color: white;
   box-shadow: 2px 2px 4px gray;

   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-start: 2;
   grid-column-end: 3;

   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}

.date_display{

   grid-column-start: 4;
   grid-column-end: 5;
   grid-row-start: 3;
   grid-row-end: 4;

   color: var(--dark-blue);
   background-color: white;
   box-shadow: 2px 2px 4px gray;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding:15px;
}


.history_passes{

   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-start: 3;
   grid-column-end: 4;

   color: var(--dark-blue);
   background-color: white;
   box-shadow: 2px 2px 4px gray;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}
