<web-app>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>src.Login</servlet-class>    
    </servlet>    
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>                
    <servlet>   
        <servlet-name>WardenPage</servlet-name>
        <servlet-class>src.WardenPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WardenPage</servlet-name>
        <url-pattern>/warden</url-pattern>
    </servlet-mapping>
    <servlet> 
        <servlet-name>OutpassPage</servlet-name>
        <servlet-class>src.OutpassPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OutpassPage</servlet-name> 
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Accept</servlet-name>
        <servlet-class>src.Accept</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Accept</servlet-name>
        <url-pattern>/accept</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Reject</servlet-name>
        <servlet-class>src.Reject</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Reject</servlet-name>
        <url-pattern>/reject</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Review</servlet-name>
        <servlet-class>src.Review</servlet-class>
    </servlet>
    <servlet-mapping> 
        <servlet-name>Review</servlet-name>
        <url-pattern>/review</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Request</servlet-name>
        <servlet-class>src.Request</servlet-class>
    </servlet>
    <servlet-mapping> 
        <servlet-name>Request</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StudentPage</servlet-name>
        <servlet-class>src.StudentPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentPage</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TransportPage</servlet-name>
        <servlet-class>src.TransportPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransportPage</servlet-name>
        <url-pattern>/transport</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthenticatorPage</servlet-name>
        <servlet-class>src.AuthenticatorPage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthenticatorPage</servlet-name>
        <url-pattern>/authenticator</url-pattern>
    </servlet-mapping>  
    <servlet>
        <servlet-name>Authenticate</servlet-name>
        <servlet-class>src.Authenticate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Authenticate</servlet-name>
        <url-pattern>/authenticate</url-pattern>
    </servlet-mapping>
</web-app>