:root {
    --dark-brown: #191308;
    --light-brown:#322A26;
    --purple:#9CA3DB;
    --dark-blue: #454B66;
    --light-blue: #677DB7;
 }
 
body{
 display:flex;
 justify-content: center;
 align-items:center;
 min-height:100vh;
 margin:0 auto;
 flex-direction: column;
 background-color: #c7cadd;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.login-heading{
    width:100%;
    background-color:var(--dark-blue);
    text-align:center;
}
.login-box{
    background-color:var(--dark-blue);
    text-align: center;
}
.logo {
    
    background-color:white;
    text-align: center;
    padding: 50px;
}
.login-form{
    padding:20px;
    background-color:var(--dark-gray);
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
}
input:focus{
    outline: none !important;
    border: 3px var(--black) solid;

}
input{
    margin-bottom:20px;
    padding:10px;
    width:180px;
}
#submit{
   padding:10px;
   background-color:var(--purple);
   width:180px;
   color:white;
   border:none;
}

#submit:hover {
    background-color:var(--light-blue);
}